.hidden {
  display: none !important;
}

.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 0 1rem;
}

.main-body {
  padding: 3rem 1rem;
  max-width: 450px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.centered-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-area {
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 82vh;
  border-radius: 1rem;
}

.modal-bg {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0 1rem;
  z-index: 1;
}

.character-content-area {
  background-color: rgba(255, 255, 255, 0.85);
  min-height: 90vh;
  max-width: 450px;
  margin: 3rem auto;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
}

.pic-section,
#ability-score-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.no-entry-text {
  margin: 2rem auto;
}

.pic-wrapper {
  flex-basis: calc(100%/3);
  margin: auto;
}

.pic-container {
  position: relative;
  margin: auto;
  width: fit-content;
  z-index: 0;
}

.column-full,
.column-half {
  width: 100%;
}

.nav-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.half-picture-icons {
  flex-basis: 50%;
}

.full-picture-icon {
  flex-basis: 100%;
}

@media screen and (min-width: 850px) {
  .container,
  .main-body {
    max-width: 1000px;
  }

  .column-half {
    width: 50%;
    flex-basis: 50%;
  }
}
