body {
  background-image: url("../images/hero1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

header {
  background-color: #d94a37;
  color: white;
}

h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

h1:hover {
  cursor: pointer;
}

p {
  font-family: Roboto, sans-serif;
}

.character-info p {
  margin-top: 0;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

.gallery-link {
  text-decoration: none;
  background-color: white;
  color: #d94a37;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
}

.intro > h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 2rem;
}

.intro > p {
  font-size: 1rem;
  font-weight: 400;
  margin: auto 2rem;
  margin-bottom: 1.5rem;
}

#disclaimer {
  font-size: 0.75rem;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin: auto 2rem;
  margin-bottom: 5rem;
}

.start-area > p {
  font-size: 1.15rem;
  font-weight: 500;
  margin: 0 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.start-button {
  text-decoration: none;
  background-color: #d94a37;
  color: white;
  font-size: 1.75rem;
  font-family: Roboto, sans-serif;
  padding: 0.6rem 1.75rem;
  border-radius: 0.5rem;
  margin: 1rem auto 3rem;
}

.intro-bottom {
  flex-grow: 1;
}

.intro-bottom > h3 {
  font-size: 1.5rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  margin: auto 2rem;
}

.line {
  border-top: 2px solid black;
  margin: 0 2rem;
}

.intro-bottom > p {
  color: #757575;
  font-size: 0.85rem;
  font-weight: 400;
  padding: 4rem 2rem;
  text-align: center;
}

.character-creation-intro {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.character-creation-intro > p {
  font-size: 1rem;
  font-weight: 400;
  margin: auto 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.character-h2 {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.character-h2:hover {
  cursor: pointer;
}

.character-h2-expanded {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
  margin-right: 4rem;
}

.character-h2-expanded:hover {
  cursor: pointer;
}

.fa-solid {
  padding-left: 0.5rem;
}

#submit-button,
#character-save-button,
.edit-button {
  border: none;
  background-color: #d94a37;
  color: white;
  font-size: 1.25rem;
  font-family: Roboto, sans-serif;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin: 2rem auto;
}

#character-save-button {
  margin-bottom: 0;
}

#character-form {
  padding: 0 2rem;
}

img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  object-position: 50% 10%;
  border-radius: 50%;
}

.pic-section {
  text-align: center;
}

.pic-section p {
  font-size: 0.85rem;
  margin: 0.5rem auto;
}

.pic-section h4 {
  font-family: Roboto, sans-serif;
  margin-bottom: 0.5rem;
}

.pic-section h5 {
  font-family: Roboto, sans-serif;
  margin-bottom: 0.5rem;
}

.character-content-area img {
  width: 7rem;
  height: 7rem;
}

.pic-wrapper img:hover {
  cursor: pointer;
}

.character-content-area .fa-square-xmark {
  position: relative;
  color: #d94a37;
  font-size: 2rem;
  right: 12rem;
}

.character-content-area .fa-square-xmark:hover {
  cursor: pointer;
}

.character-content-area .centered-row:nth-child(1) {
  align-items: center;
}

.character-content-area h4 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  margin-top: 0;
  font-size: 1.5rem;
}

.race-characteristics h5 {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  margin-bottom: 0.15rem;
  margin-top: 0;
}

.race-characteristics p {
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.class-characteristics h5 {
  font-family: "Titillium Web", sans-serif;
  text-align: left;
  margin-bottom: 0.15rem;
  margin-top: 0;
}

.class-characteristics p {
  font-size: 0.75rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.fa-circle-check {
  position: absolute;
  font-size: 3.5rem;
  color: #00f946;
  bottom: 1.5rem;
  left: 1.3rem;
}

.fa-circle-check:hover {
  cursor: pointer;
}

.selected-modal {
  filter: brightness(0.6);
}

#ability-score-input {
  margin: 2rem auto;
}

.gallery-content p {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
}

.character-ability-score div p {
  margin-top: 0.5rem;
}

#ability-score-input p {
  font-family: "Titillium Web", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  flex-basis: calc(100%/3);
}

input:focus,
textarea:focus {
  outline: 0.15rem solid #d94a37;
  outline-offset: -0.2rem;
}

#ability-score-input input {
  width: 3rem;
  height: 3.5rem;
  margin: 0.35rem 0.25rem 0;
  border: 0.1rem solid #b6b6b6;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  text-align: center;
}

#ability-score-input input::placeholder {
  text-align: center;
  font-size: 2rem;
  margin: auto;
}

#ability-score-input input:focus::placeholder {
  color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

#ability-score-info h4 {
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  margin-bottom: 0;
}

#ability-score-info p {
  font-size: 0.85rem;
  margin-top: 0.35rem;
}

#final-character-adjustments {
  font-family: Roboto, sans-serif;
}

#final-character-adjustments h4 {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#final-character-adjustments .centered-row h4 {
  margin: 0 0 1rem;
}

#final-character-adjustments form {
  padding: 2rem;
}

#final-character-adjustments img {
  width: 8rem;
  height: 8rem;
  margin: 1rem auto;
}

#final-character-adjustments .centered-row input {
  width: 17rem;
  height: 3rem;
  margin: 0.5rem auto;
  border: 0.1rem solid #b6b6b6;
  border-radius: 0.25rem;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
}

#final-character-adjustments .centered-row input:nth-child(1)::placeholder {
  font-size: 1.1rem;
  margin: 0.5rem auto;
}

#final-character-adjustments .centered-row input:nth-child(3) {
  height: 2rem;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 2rem;
}

.character-ability-score div {
  flex-basis: calc(100%/6);
  text-align: center;
}

.character-ability-score div h5 {
  margin: 0;
}

.character-content textarea {
  width: 20rem;
  height: 7rem;
  margin: 0 auto 1rem;
  font-family: Roboto, sans-serif;
  border: 0.1rem solid #b6b6b6;
  border-radius: 0.25rem;
  padding: 1rem;
  resize: none;
}

.gallery-content {
  padding: 2rem;
}

.gallery-content h2 {
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

#gallery h5 {
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 850px) {
  .intro {
    padding-left: 4rem;
  }

  .intro > h2 {
    text-align: left;
    margin-left: 2rem;
  }

  .start-area {
    padding-right: 4rem;
    height: 28rem;
  }

  .button-link {
    margin-bottom: 0;
  }

  .intro-bottom {
    padding: 0 4rem;
  }

  .character-creation-intro > p {
    margin: auto 12rem;
    margin-bottom: 1rem;
  }

  #character-form {
    padding: 0 12rem;
  }

  .pic-wrapper h4 {
    font-size: 1.25rem;
  }

  .character-content-area {
    max-width: 800px;
  }

  .character-content-area .fa-square-xmark {
    right: 23rem;
  }

  .character-content-area h4 {
    font-size: 1.5rem;
  }

  .pic-wrapper img {
    width: 8rem;
    height: 8rem;
  }

  .fa-circle-check {
    bottom: 2.5rem;
    left: 2.3rem;
  }

  .pic-wrapper .column-half {
    padding: 0 1rem;
  }

  .pic-wrapper .column-full p {
    padding: 2rem;
  }

  .character-content > div {
    padding: 4rem;
  }

  .pic-wrapper .race-characteristics div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
    padding: 1rem;
  }

  .pic-wrapper .class-characteristics div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 50%;
    padding: 1rem;
  }

  .pic-wrapper .class-characteristics p {
    margin-left: 0;
  }

  #ability-score-input input {
    width: 3.5rem;
    height: 4rem;
    margin: 0.35rem 0.75rem 1rem;
    font-size: 2rem;
  }

  .character-content {
    display: flex;
    justify-content: space-evenly;
  }

  .character-content img {
    width: 10rem;
    height: 10rem;
  }

  .gallery-content .pic-section {
    margin: auto;
    max-width: 750px;
  }

  #gallery h5 {
    font-size: 1rem;
    margin-bottom: 0.8rem;
  }
}
